.btn{
    font-weight: bold;
font-size: 16px;
color: #ffffff;
padding:  12px;
background-color: #1D4ED8;
border: none;
border-radius: 12px 12px ;
gap: 12px;
}

nav li{
   list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-family: arimo;
   
}

nav li a{
    text-decoration: none;
    color: #575757;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px ;
}

nav ul{
    display: flex;
    justify-content: around;
    align-items: center;
   gap: 24px;
}

h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 24px;
   
}

.btn-2 {
    background-color: #1D4ED8;
    cursor: pointer;
    padding: 12px 12px;
    width: 282.66px;
    height: 72px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 10px ;
    gap: 12px;
    margin-top: 200px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: #ffffff;
    
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
    
}

.font{
   font-size: 22px;
   opacity: 90%;
}

.card{
    font-size: 56px;
    font-weight: bold;
   text-align: center;
   padding: 50px;
    
}

h5{
    color: #2563EB;
    font-size: 12px;
}

section p{
    font-size: 20px;
    font-weight: bold;
}

h6{
    font-size: 14px;
    color: #575757;
}

.child{
  width: 644px;
  height: 460px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  

}

.card-type{
    padding: 0 20px;
   
    
}

.card-section{
    display: grid;
    grid-template-columns: repeat(2,644px);
    gap: 32px;
   justify-content: center;
   align-items: center;
    padding: 60px 80px;
}

h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

#price-info{
    font-size: 16px;
    color: #575757;
}

.text{
   text-align: center;
  
}
#text-type{
    font-size: 13px;
    color: #888888;
    font-weight: 600;
}
#price-1{
    font-size: 44px;
    font-weight: bold;
    
}

#per{
    font-size: 13px;
    color: #888888;
    
} 

.price-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;

}

div .btn-3{
    background-color: #ffffff;
    cursor: pointer;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #1D4ED8;
    border: none;
    border-radius: 8px ;
    gap: 12px;
    margin-top: 20px;
    outline: 2px solid #1D4ED8;
   width: 304.66px;
height: 45px;

}


div .btn-4{
    background-color: #1D4ED8;
    cursor: pointer;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px ;
    gap: 12px;
    margin-top: 20px;
   width: 304.66px;
height: 45px;

}


div .btn-5{
    background-color: #ffffff;
    cursor: pointer;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #0D1B2A;
    border: none;
    border-radius: 8px ;
    gap: 12px;
    margin-top: 20px;
    outline: 2px solid #0D1B2A;
   width: 304.66px;
height: 45px;

}



.text-white{
    color: #ffffff;
}

.black-card{
    background-color: #0D1B2A;
    
}

.btn-center{
    justify-content: center;
    justify-items: center;
    text-align: center;
}

div ul li::marker{
    
   color: #1D4ED8;
    
}

.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding:  40px;
}

#price-card-1{
    display: flex;
    flex-direction: column;
   
}

.pro{
    color: #93C5FD;
}

hr{
   width: 100%;
   border:none;
   border-top: 1px solid #E5E7EB;
}


.social-icons{
    display: flex;
    align-items: center;
    gap: 15px;      
}

.social-icons a{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}
.footer , .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #0D1B2A;
    color: #ffffff;
    font-size: 16px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* .footer-bottom{
   text-align: center;
   font-size: 16px;
   background-color: #0D1B2A;
   color: #ffffff;
} */